/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.125em; /* 18px/16px */
  line-height: 1.2em; /* 18 x 120% = 21.6px */
  padding: 3.3375% 3.4375%; /* 22px /2 = 11px 11/320=0.034375 */ 
  background: gray;
}

h1{
  font-family: Raleway, serif;
  font-size: 2.027em; /*36.491px/18px */
  line-height: 2.367em; /* 21.6x4px / 36.491px */
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue; /* shadow code from: https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
  background-image: url("img/header.png"); /*Note to self: Give credit*/
  background-size: auto 100%;
  text-align: center;
  margin-bottom: 0.5919em;
  border: .2959em double;
  border-radius: .2959em;
  border-color: black;
}

#form-newsletter{
  border: .588em double;
  border-radius: .588em;
  border-color: black;
  background: lightgray;
  padding: .588em 0;
  margin-top: 1.2em;
}

ol{
 padding: 0 .6em;
 position: relative;
}

#input-name input,
#input-email input
{
  box-sizing: border-box;
  margin: 0;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: .6em 0;
}

#input-frequent label{
  display: block;
}

#input-frequent input{
  float: left; 
}

#input-submit input{
  display: block;
  border:0 none;
  margin: .6em 0;
  border : solid 5px;
  border-color: black;
  border-radius : 5px 25px;
  background-color: lightgray;
  padding: .6em 30px;
}

#bg-img1 img{
  position: absolute;
  width: 60%;
  opacity: .2;
  padding-right: 20%;
  pointer-events: none;
}

#bg-img2 img{
  position: absolute;
  width: 80%;
  opacity: .5;
  padding-left: 30%;
  padding-top: 10em;
  pointer-events: none;
}